.signup-wrapper-mobile {
  background-image: url('../../assets/images/bodyBG.webp');
}

.name-input-mobile {
  background-image: url('../../assets/images/nameinputMobile.png');
}

.surname-input-mobile,
.email-input-mobile,
.password-input-mobile {
  background-image: url('../../assets/images/surnameinputMobile.png');
}

.surname-input-mobile,
.name-input-mobile {
  background-size: cover;
  background-position: center;
  outline: 0;
  padding-left: 11px;
  margin-left: 3px;
}

.email-input-mobile {
  margin-left: 6px;
  margin-right: -2px;
}

.password-input-mobile {
  margin-left: 6px;
  margin-right: -1.9px;
}

@media (max-width: 520px) {
  .signup-wrapper-mobile {
    display: flex !important;
  }
}
