.view-all-btn {
  transition: all 0.3s ease;
}

.view-all-btn:hover {
  transform: scale(1.04);
  transition-duration: 300ms;
}

@media (max-width: 1006px) {
  .view-all-btn {
    width: 700px;
  }
}

.view-all-courses {
  transform: scale(calc(0.5));
}
