.course-wrapper {
  background-image: url('../../assets/images/bodyBG-whitened.jpg');
  background-size: contain;
}

.course-img {
  width: 532px;
  height: 300px;
}

.course-preview-main {
  width: 711px;
  height: 400px;
}

@media only screen and (max-device-width: 1350px) {
  .course-description {
    flex-direction: column;
  }
  .course-about {
    margin-top: 2rem;
  }
}

@media only screen and (max-device-width: 1200px) {
  .course-descr-section {
    flex-direction: column;
  }
}
