.course-wrapper {
  background-image: url('../../assets/images/bg-whitened.jpg');
  background-size: contain;
}

@media (max-width: 890px) {
  .course-preview-main {
    width: 390px !important;
  }
}

@media (max-width: 500px) {
  .buy-btn-prev {
    width: 212px !important;
  }
}

@media (max-width: 430px) {
  .buy-btn-prev {
    width: 190px !important;
  }
}

@media (max-width: 1140px) {
  .course-descr-section {
    flex-wrap: wrap;
  }
  .course-descr-section p {
    padding: 0px !important;
  }
}

@media (max-width: 1150px) {
  .course-descr-section img {
    width: 100%;
    height: 90%;
    margin-top: 20px;
  }
}

@media (max-width: 850px) {
  .course-descr-section {
    margin-top: 20px !important;
  }
}

/* @media (max-width: 400px) {
  .course-descr-section img {
    width: 371px !important;
  }
} */

@media (max-width: 1445px) {
  .controlWr {
    flex-wrap: wrap;
  }
}

@media (max-width: 430px) {
  .course_heading {
    font-size: 71px !important;
  }
}
