.name-input,
.surname-input {
  background-image: url('../../assets/images/nameInputBorder.png');
  background-size: cover;
  background-position: center;
  outline: 0;
  padding-left: 10px;
  margin-left: -2px;
  margin-top: 4px;
}

.surname-input {
  margin-left: -4px !important;
}
