html {
  /* width: fit-content; */
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./assets/images/coursesBG.png');
  width: -webkit-fill-available;
  position: relative;
  overflow-x: hidden;
  background-size: cover;
  box-shadow: inset 0px 110px 50px #000;
}

body::-webkit-scrollbar {
  width: 0em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
