@media (max-width: 910px) {
  .title-logo {
    display: none !important;
  }
}

@media (max-width: 460px) {
  .aboutme,
  .courses,
  .signin-btn {
    font-size: 14px !important;
  }

  .aboutme-wrapper,
  .courses-wrapper,
  .signin-navbar-wrapper {
    padding: 0px 15px !important;
    white-space: 'nowrap';
  }
}

@media (max-width: 500px) {
  .account-btn {
    display: flex !important;
  }
  .signin-btn {
    display: none !important;
  }
}
