.barber-pfp {
  height: 450px;
  width: 400px;
}
.pfp {
  display: flex;
  justify-content: center;
}
@media (max-width: 1007px) {
  .whyme {
    display: none !important;
  }
  .barber-pfp {
    height: 300px;
    width: 266px;
  }
  .underpfp {
    padding-top: 0px !important;
  }
}

@media (min-width: 1007px) {
  .pfp {
    height: 600px;
  }
}
