.signin-wrapper-mobile {
  background-image: url('../../assets/images/bodyBG.jpg');
  background-size: contain;
  display: none;
}

.email-input-mobile,
.password-input-mobile {
  background-image: url('../../assets/images/inputBorderMobile.png');
  background-position: right;
  background-size: cover;
  outline: 0;
  padding-left: 10px;
  margin-left: -1px;
}

.password-input-mobile {
  background-image: url('../../assets/images/inputBorderMobile2.png');
}

.submit-btn-mobile {
  transition: all 0.3s ease;
}

.submit-btn-mobile:hover {
  transform: scale(1.05);
  transition-duration: 300ms;
}

@media (max-width: 520px) {
  .signin-wrapper-mobile {
    display: flex !important;
  }
}

@media (min-width: 521px) {
  .signin-wrapper-mobile {
    display: none !important;
  }
}
